:root{
    /*COLORS*/
    --brown: #8F3F08;
    --orange: #FFBB3A;
    --orangeTransparent: rgba(255, 187, 58, .5);
    --almond: #E9DDCF;
    --indigo: #152862;
    --gray: rgb(245, 245, 245);
    --black: rgb(30, 30, 30);
    --red:rgb(150,0,0);
    /*FONTS*/
    --fs-xs: 1.2rem;
    --fs-s: 1.6rem;
    --fs-m: 2rem;
    --fs-l: 2.5rem;
    --fs-xl: 3.1rem;
    --fs-xxl: 3.9rem;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--black);
}

html{
    font-size: 62.5%;
}

body{
  width: 100%;
  margin: 0 auto;  
}

/* GENERAL */
.hide{
  display: none;
}
.highlight{
  color: var(--orange) !important;
  border-bottom-color: var(--orange) !important;
}
.highlight2{
  color: var(--brown);
}