body{
    min-width: 320px;
}
/* HEADER */
.header-nav{
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: var(--orange);
}
.header-nav picture{
    margin: auto 10px;
    cursor: pointer;
}
.header-nav-imagotype{
    display: flex;
    align-items: center;
}
.header-nav-imagotype-img{
    height: 30px;
    width: 30px;
}
.header-nav-imagotype-text{
    font-weight: 500;
    font-size: var(--fs-l);
}
.header-nav-menu-img{
    height: 30px;
    width: 30px;
}
.header-background{
    width: 100%;
    height: 250px;
}
.header-background-actionButton{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: var(--orangeTransparent);
    height: inherit;
    width: 37.5%;
    padding: 0 10px;
}
.header-background-actionButton button{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: var(--fs-s);
}
.header-background-actionButton p{
    text-align: center;
    font-size: var(--fs-s);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-background-img{
    width: 100%;
    height: inherit;
}
/* MAIN */
.main-infoSection{
    width: 100%;
    height: 250px;
    display: flex;
}

.main-infoSection-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-infoSection-right img{
    margin-top: 40px;
    margin-right: 10px;
    width: 120px;
    height: 120px;
}
.main-infoSection-left{
    width: 62.5%;
    height: inherit;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.main-infoSection-left ul{
    list-style: none;
    margin-bottom: 10px;
}
.main-infoSection-left ul li{
    display: flex;
    align-items: center;
    margin: 0 10px 6px 0;
}
.main-infoSection-left-description{
    margin-bottom: 15px;
    color: var(--orange);
}
.main-infoSection-left-descriptionIcon{
    width: 12px;
    height: 12px;
}
.main-infoSection-left-title{
    margin: 0px 0px 10px 0 ;
}
.main-infoSection-left-adventage{
    margin-left: 6px;
}
.button-type1{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: var(--fs-xs);
    width: 80px;
}
.button-type2{
    background-color: var(--orangeTransparent);
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: var(--fs-xs);
    width: 80px;
}