body{
    min-width: 320px;
}
/* HEADER */
.header-nav{
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: var(--orange);
}
.header-nav picture{
    margin: auto 10px;
    cursor: pointer;
}
.header-nav-imagotype{
    display: flex;
    align-items: center;
}
.header-nav-imagotype-img{
    height: 30px;
    width: 30px;
}
.header-nav-imagotype-text{
    font-weight: 500;
    font-size: var(--fs-l);
}
.header-nav-menu-img{
    height: 30px;
    width: 30px;
}
.header-nav-buttons{
    display: none;
}
.header-background{
    width: 100%;
    height: 250px;
}
.header-background-actionButton{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: var(--orangeTransparent);
    height: inherit;
    width: 37.5%;
    padding: 0 10px;
}
.header-background-actionButton button{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: var(--fs-s);
}
.header-background-actionButton p{
    text-align: center;
    font-size: var(--fs-s);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-background-img{
    width: 100%;
    height: inherit;
}
/* MAIN */
/* SECTION INFORMATION */
.main-infoSection{
    width: 100%;
    height: 250px;
    display: flex;
    background-color: var(--gray);
}

.main-infoSection-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-infoSection-right img{
    margin-top: 30px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border-radius: 80px;
}
.main-infoSection-left{
    width: 62.5%;
    height: inherit;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.main-infoSection-left ul{
    list-style: none;
    margin-bottom: 10px;
}
.main-infoSection-left ul li{
    display: flex;
    align-items: center;
    margin: 0 10px 6px 0;
}
.main-infoSection-left-description{
    margin-bottom: 30px;
    color: var(--orange);
    font-size: var(--fs-xs);
}
.main-infoSection-left-descriptionIcon{
    width: 12px;
    height: 12px;
}
.main-infoSection-left-title{
    margin: 0px 0px 10px 0 ;
}
.main-infoSection-left-adventage{
    margin-left: 6px;
    margin-bottom: 2px;
    font-size: var(--fs-xs);
}
.button-type1{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: var(--fs-xs);
    width: 80px;
}
.button-type2{
    background-color: var(--orangeTransparent);
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: var(--fs-xs);
    width: 80px;
}
/* SECTION CHEFS */
.main-chefSection-slider{
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: auto;
    scroll-snap-type: x proximity;
    background-color: var(--orange);
    align-items: center;
}
.main-chefSection-slider-card{
    position: relative;
    scroll-snap-align: center;
    min-width: 180px;
    max-width: 250px;
    width: 70%;
    height: 200px;
    background-color: var(--almond);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto 20px;
}
.main-chefSection-slider-card-title{
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--gray);
    background-color: var(--brown);
    font-weight: 500;
    font-size: var(--fs-s);
}
.main-chefSection-slider-card-description{
    font-size: var(--fs-xs);
    margin-bottom: 15px;
}
.main-chefSection-slider-card-img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.main-chefSection-slider-card-button:hover{
    background-color: var(--almond);
}
/*FOOD SECTION*/
.main-foodSection{
    background-color: var(--brown);
}
.main-foodSection-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.main-foodSection-header-message{
    margin-top: 20px;
    color: var(--orange);
    font-weight: 100;
}
.main-foodSection-header-title{
    font-size: var(--fs-m);
    color: var(--gray);
    font-weight: 500;
}
.main-foodSection-header-list{
    margin-top: 5px;
    list-style: none;
    display: flex;
}
.main-foodSection-header-item{
    cursor: pointer;
    padding: 5px 5px;
    color: var(--gray);
    border-bottom: 1px solid var(--almond);
    /* border-bottom: 1px solid var(--almond); */
}
.main-foodSection-slider{
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: auto;
    scroll-snap-type: x proximity;
    align-items: center;
}
.main-foodSection-slider-card{
    position: relative;
    scroll-snap-align: center;
    min-width: 180px;
    max-width: 250px;
    width: 70%;
    height: 200px;
    background-color: var(--almond);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto 20px;
}
.main-foodSection-slider-card-title{
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--gray);
    background-color: var(--brown);
    font-weight: 500;
    font-size: var(--fs-s);
}
.main-foodSection-slider-card-description{
    font-size: var(--fs-xs);
    margin-bottom: 15px;
}
.main-foodSection-slider-card-img-1{
    background-image: url(/assets/img/food/WhatsApp\ Image\ 2024-02-19\ at\ 3.26.16\ AM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-foodSection-slider-card-img-2{
    background-image: url(/assets/img/food/WhatsApp\ Image\ 2024-02-19\ at\ 3.26.18\ AM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-foodSection-slider-card-img-3{
    background-image: url(/assets/img/food/WhatsApp\ Image\ 2024-02-19\ at\ 3.26.29\ AM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-foodSection-slider-card-img-4{
    background-image: url(/assets/img/food/WhatsApp\ Image\ 2024-02-19\ at\ 3.26.38\ AM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: var(--orange);
}
.footer-left{
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}
.footer-left-title{
    width: 70%;
    text-align: left;
    font-size: var(--fs-l);
    color: var(--black);
}
.button-type3{
    background-color: var(--brown);
    color: var(--gray);
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: var(--fs-xs);
    height: 30px;
    width: 80px;
}
.footer-right{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.footer-right picture{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-size: var(--fs-xs);
    padding: 2px;
}
.footer-contact{
    margin-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.footer-contact-title{
    font-size: var(--fs-m);
}
.footer-contact-description{
    margin-top: 5px;
    font-size: var(--fs-xs);
    text-align: justify;
}