body{
    width: 80%;
}
/* HEADER */
.header-nav-menu-img{
    display: none;
}
.header-nav-buttons{
    display: flex;
    width: 50%;
    justify-content: right;
    margin-right: 10px;
}
.header-nav-buttons-item{
    background-color: var(--orangeTrasparent);
    height: 100%;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.header-nav-buttons-item:hover{
    background-color: var(--orange2);
}
.header-nav-buttons-item a{
    text-decoration: none;
    font-size: var(--fs-m);
}
.header-background-actionButton{
    width: 27%;
}